<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Et Spil</title>
</head>
<body>

<h1>Et spil resultat</h1>
<p>
    {{ Game.Id }} <br/>
    {{ Game.Title }} <br/>
    {{ Game.Price }} <br/>
    {{ Game.AntalPåLager }} <br/>
</p>





</body>
</html>